<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727483766966-qml7bo23tvuedfb8mbp6aec1egrkb6rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727483766966-qml7bo23tvuedfb8mbp6aec1egrkb6rv</string>
	<key>API_KEY</key>
	<string>AIzaSyDHxr21jUuMkZ9yftTQetAmD7jYo4Qnjf0</string>
	<key>GCM_SENDER_ID</key>
	<string>727483766966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lw.emed</string>
	<key>PROJECT_ID</key>
	<string>emed-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>emed-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727483766966:ios:f4222ab70fcb7f5b066e17</string>
</dict>
</plist>